{% extends 'charity_donation/base.html' %}
{% load static %}

{% block title %}Add donation{% endblock %}

{% block nav-login %}
    <li class="logged-user">
      Witaj Agata
      <ul class="dropdown">
        <li><a href="">Profil</a></li>
        <li><a href="">Ustawienia</a></li>
        <li><a href="">Wyloguj</a></li>
      </ul>
    </li>
{% endblock %}

{% block add-js %}
    <script src="{% static 'charity_donation/js/form.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="slogan container container--90">
        <h2>
          Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
          informacje o odbiorze.
        </h2>
    </div>
{% endblock %}