{% extends 'charity_donation/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form>
        <div class="form-group">
          <input type="text" name="name" placeholder="Imię" />
        </div>
         <div class="form-group">
          <input type="text" name="surname" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        {% include 'charity_donation/login_register_buttons.html' %}
      </form>
    </section>
{% endblock %}

{% block js %}{% endblock %}